In [57]:
# import dependencies
import pandas as pd
import numpy as np

In [58]:
# Reference the file where the json is located
json_path1 = "purchase_data.json"
json_path2 = "purchase_data2.json"
# Import the data into a Pandas DataFrame
hero_data = pd.read_json(json_path1)
#hero_data = pd.read_json(json_path2)
#hero_data.head()

## Player Count

In [59]:
players = hero_data["SN"].nunique()
Player_Count = pd.DataFrame({"Total Players": [players]})
Player_Count

   Total Players
0            573

## Purchasing Analysis (Total)

In [60]:
# unique items
unique_items = hero_data["Item ID"].nunique()
# average price
average_price = hero_data["Price"].mean()
# number of purchases
total_purchases = hero_data["Price"].count()
# total revenue
total_revenue = hero_data["Price"].sum()

# new table
Purchasing_Analysis = pd.DataFrame({"Number of Unique Items": [unique_items],
                                   "Average Price": [average_price],
                                   "Number of Purchases": [total_purchases],
                                   "Total Revenue": [total_revenue]
})
Purchasing_Analysis = Purchasing_Analysis[["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"]]
Purchasing_Analysis = Purchasing_Analysis.round(2)
Purchasing_Analysis

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183           2.93                  780        2286.33

## Gender Demographics

In [61]:
# count of total and genders
total_gender = hero_data["Gender"].count()
male = hero_data["Gender"].value_counts()["Male"]
female = hero_data["Gender"].value_counts()["Female"]
other = (total_gender - male - female)
# calculate percentages
male_percent = male/total_gender * 100
female_percent = female/total_gender* 100
other_percent = other/total_gender* 100

# new table
Gender_Demographics = pd.DataFrame({"Gender": ["Male", "Female", "Other"],
                                   "Percentage of Players": [male_percent,female_percent, other_percent],
                                   "Total Count": [male,female, other]
})
Gender_Demographics = Gender_Demographics.round(2)
Gender_Demographics = Gender_Demographics[["Gender", "Percentage of Players","Total Count"]]
Gender_Demographics

   Gender  Percentage of Players  Total Count
0    Male                  81.15          633
1  Female                  17.44          136
2   Other                   1.41           11

## Purchasing Analysis (Gender)

In [62]:
# extract gender dfs
male_data = hero_data.loc[hero_data["Gender"] == "Male"]
female_data = hero_data.loc[hero_data["Gender"] == "Female"]
other_data = hero_data.loc[hero_data["Gender"] == "Other / Non-Disclosed"]

# average price per gender 
average_male = male_data["Price"].mean()
average_female = female_data["Price"].mean()
average_other = other_data["Price"].mean()

# total purchase value
total_male = male_data["Price"].sum()
total_female = female_data["Price"].sum()
total_other = other_data["Price"].sum()

# normalized totals 
normalized_total = 

Purchasing_Analysis_Gender = pd.DataFrame({"Gender": ["Male", "Female", "Other"], 
                                        "Purchase Count": [male, female, other],
                                        "Average Purchase Price":[average_male, average_female, average_other],
                                        "Total Purchase Value":[total_male, total_female, total_other]})
                                        "Normalized Totals":[]
                                            })
Purchasing_Analysis_Gender = Purchasing_Analysis_Gender.round(2)
Purchasing_Analysis_Gender = Purchasing_Analysis_Gender[["Gender", "Purchase Count", "Average Purchase Price", "Total Purchase Value"]]
Purchasing_Analysis_Gender

SyntaxError: invalid syntax (<ipython-input-62-6e66723e0c1e>, line 17)

## Age Demographics

In [63]:
# Figure out the minimum and maximum ages
print(hero_data["Age"].max())
print(hero_data["Age"].min())

45
7

In [64]:
# Create bins in which to place values based on age 
bins = [0,9.9,14.9,19.9,24.9,29.9,34.9,39.9,45]

# Create labels for these bins
group_labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

# Slice the data and place it into bins
pd.cut(hero_data["Age"],bins,labels = group_labels)

# Place the data series into a new column inside of the DataFrame
hero_data["Age Group"] = pd.cut(hero_data["Age"],bins,labels=group_labels)

# Calculate the Numbers and Percentages by Age Group
num_players = hero_data.count()[0]
age_demographics_totals = hero_data["Age Group"].value_counts()
age_demographics_percents = age_demographics_totals / num_players * 100
age_demographics = pd.DataFrame({"Total Count": age_demographics_totals, "Percentage of Players": age_demographics_percents})

# round data
age_demographics = age_demographics.round(2)

# Display Age Demographics Table
age_demographics.sort_index()

       Percentage of Players  Total Count
<10                     3.59           28
10-14                   4.49           35
15-19                  17.05          133
20-24                  43.08          336
25-29                  16.03          125
30-34                   8.21           64
35-39                   5.38           42
40+                     2.18           17

In [65]:
# Bin the Purchasing Data
hero_data["Age Ranges"] = pd.cut(hero_data["Age"], bins, labels=group_labels)

# Run basic calculations
age_purchase_total = hero_data.groupby(["Age Ranges"]).sum()["Price"].rename("Total Purchase Value")
age_average = hero_data.groupby(["Age Ranges"]).mean()["Price"].rename("Average Purchase Price")
age_counts = hero_data.groupby(["Age Ranges"]).count()["Price"].rename("Purchase Count")

# Calculate Normalized Purchasing
normalized_total = age_purchase_total / age_demographics["Total Count"]

# Convert to DataFrame
age_data = pd.DataFrame({"Purchase Count": age_counts, "Average Purchase Price": age_average, "Total Purchase Value": age_purchase_total, "Normalized Totals": normalized_total})

# Minor Data Munging
age_data["Average Purchase Price"] = age_data["Average Purchase Price"].map("${:,.2f}".format)
age_data["Total Purchase Value"] = age_data["Total Purchase Value"].map("${:,.2f}".format)
age_data ["Purchase Count"] = age_data["Purchase Count"].map("{:,}".format)
age_data["Normalized Totals"] = age_data["Normalized Totals"].map("${:,.2f}".format)
age_data = age_data.loc[:, ["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Normalized Totals"]]

# Display the Age Table
age_data

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
10-14,35,$2.77,$96.95,$2.77
15-19,133,$2.91,$386.42,$2.91
20-24,336,$2.91,$978.77,$2.91
25-29,125,$2.96,$370.33,$2.96
30-34,64,$3.08,$197.25,$3.08
35-39,42,$2.84,$119.40,$2.84
40+,17,$3.16,$53.75,$3.16
<10,28,$2.98,$83.46,$2.98

## Top Spenders

In [66]:
# Basic Calculations
user_total = hero_data.groupby(["SN"]).sum()["Price"].rename("Total Purchase Value")
user_average = hero_data.groupby(["SN"]).mean()["Price"].rename("Average Purchase Price")
user_count = hero_data.groupby(["SN"]).count()["Price"].rename("Purchase Count")

# Convert to DataFrame
user_data = pd.DataFrame({"Total Purchase Value": user_total, "Average Purchase Price": user_average, "Purchase Count": user_count})

# Minor Data Munging
user_data["Average Purchase Price"] = user_data["Average Purchase Price"].map("${:,.2f}".format)
user_data["Total Purchase Value"] = user_data["Total Purchase Value"].map("${:,.2f}".format)
user_data = user_data.loc[:,["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]


# Display Table
user_data.sort_values("Total Purchase Value", ascending=False).head(5)

              Purchase Count Average Purchase Price Total Purchase Value
SN
Qarwen67                   4                  $2.49                $9.97
Sondim43                   3                  $3.13                $9.38
Tillyrin30                 3                  $3.06                $9.19
Lisistaya47                3                  $3.06                $9.19
Tyisriphos58               2                  $4.59                $9.18

## Most Popular Items

In [67]:
# Extract item Data
item_data = hero_data.loc[:,["Item ID", "Item Name", "Price"]]

# Perform basic calculations
total_item_purchase = item_data.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Value")
average_item_purchase = item_data.groupby(["Item ID", "Item Name"]).mean()["Price"]
item_count = item_data.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Purchase Count")

# Minor Data Munging
item_data_pd = pd.DataFrame({"Total Purchase Value": total_item_purchase, "Item Price": average_item_purchase, "Purchase Count": item_count})
item_data_pd["Item Price"] = item_data_pd["Item Price"].map("${:,.2f}".format)
item_data_pd ["Purchase Count"] = item_data_pd["Purchase Count"].map("{:,}".format)
item_data_pd["Total Purchase Value"] = item_data_pd["Total Purchase Value"].map("${:,.2f}".format)
item_data_pd = item_data_pd.loc[:,["Purchase Count", "Item Price", "Total Purchase Value"]]

# Display the Item Table
item_data_pd.sort_values("Purchase Count", ascending=False).head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
13,Serenity,9,$1.49,$13.41
34,Retribution Axe,9,$4.14,$37.26
175,Woeful Adamantite Claymore,9,$1.24,$11.16
31,Trickster,9,$2.07,$18.63
106,Crying Steel Sickle,8,$2.29,$18.32

## Most Profitable Items

In [68]:
# Display the Item Table (Sorted by Total Purchase Value)
item_data_pd.sort_values("Total Purchase Value", ascending=False).head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
170,Shadowsteel,5,$1.98,$9.90
21,Souleater,3,$3.27,$9.81
37,"Shadow Strike, Glory of Ending Hope",5,$1.93,$9.65
127,"Heartseeker, Reaver of Souls",3,$3.21,$9.63
120,Agatha,5,$1.91,$9.55

## Three Observable Trends

In [69]:
# Three observable trends
# 1. Mostly males purchased items
# 2. 15-19 year old purchased most, then 25-29. large dropoff in 20-24 year olds, possible due to college students not affording or having time
# 3. Purchases decline at age 30 and above, also decline at 15 and below